header{
    height: 25%;
    width: 100%;
   

}

/* Add a black background color to the top navigation */
.topnav {
    background-color: #0d0d0d;
    overflow: hidden;
    border-radius: 2px;
    
  }
  header img{
    position: absolute;
    right: 0%;
    top: 6px;
    width: 8vw;
    height:7vh;
}
  
.logoTogle{
    display: none;
}

  /* Style the links inside the navigation bar */
  .topnav a {
   
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding-top: 2vh ;
    padding-bottom: 2vh;
    padding-left: 2vw;
    padding-right: 2vw;
    text-decoration: none;
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    border-bottom: white solid 3px;
    color: white;
    transition: 0.1s;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    border-bottom: white solid 3px;
    color: white;
    font-weight: 900;
  }

  body {
    background-image: url(img/secu.jpg);
    background-color: rgba(15, 15, 16, 0.861);
    margin: 0;
    animation: open 0.7s; 
   }
   @keyframes open {
    0% {
    opacity:0;
    }
    20%{
    opacity:0.2;
    }
    30% {
    opacity:0.3;
    }
    40% {
      opacity:0.4;
      }
    50% {
        opacity:0.5;
        }
    60% {
          opacity:0.6;
        }
        70% {
          opacity:0.7;
          }
          80% {
            opacity:0.8;
            }
            90%{
              opacity: 0.9;
            }
            100% {
              opacity:1;
              }
  
   }

#form{
    position: relative;
    width: 30vw;
    height: 70vh;
    background-color: #0d0d0e;
    opacity: 0.7;
    border-radius: 25px;
    left: 65%;

}



 .container label{
  display: block;
  color: white;
  position: relative;
  font-family: 'Audiowide', cursive;
  left: 10%;
  font-size: 20px;
  padding-bottom: 5px;
  
}

#form input{
    background-color: #0d0d0e;    
    border-radius: 8px;
    width: 80%;
    left: 10%;
    position: relative;
    padding: 8px;
    margin-bottom: 20px;
    color: whitesmoke;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;

}

#form input[type="submit"]{
    font-family: 'Audiowide', cursive;
    background-color: rgb(32, 68, 177);
    color: white;
    top: 2%;
    height: 8%;
    width: 83%;
}





#form input[type="submit"]:hover{
    font-family: 'Audiowide', cursive;
    filter: brightness(50%);
    transition: 0.8s;

}




.container{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-content: center;
    transition: 1s;
    margin-top: 5%;
    border-radius: 4px;
    
}



.gmail{
    position: absolute;
    bottom:35px;
    left: 20px;
    width: 40px;
    height: 40px;
}

.linkedin{
    position: absolute;
    bottom:35px;
    left: 65px;
    width: 40px;
    height: 40px;
}


label, #toggle
{
    display: none;
}

@media (max-width:1500px){

.container a img:hover{
    width: 22vw;
    height: 45vh;
    opacity: 100%;
    z-index: 10; 
}

}



@media all and (max-width: 1024px){
    body {
        background-image: none;
        margin: 0;
        animation: open 0.7s; 
    }

    header label 
{   
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  font-size: 105px;
  
  color: whitesmoke;
  cursor: pointer;
 

}

    header img[src="img/Logo OZVide.png"]{
      display: none;
          }

    .topnav a {
        float: left;
        color: black;
        text-align: center;
        padding-top: 2vh ;
        padding-bottom: 2vh;
        padding-left: 2vw;
        padding-right: 2vw;
        text-decoration: none;
        font-size: 56px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      }

      .topnav a.active {
        border-bottom: black solid 3px;
        color: black;
        font-weight: 900;
      }
      
      .topnav a:hover {
        border-bottom: black solid 3px;
        color: black;
        transition: 0.1s;
      }
       

    header{
      height: 40%;
      width: 100%;
    }

    header >img{
        bottom: 5px;
        right: 0.5%;
        bottom: 8%;
        width: 8vw;
        height:7vh;
    }

    header .topnav{
        display: none;

    }

    #toggle:checked + .topnav {
        background-color: rgb(212, 219, 225);
        position: relative;
        z-index: 11;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 0px;
        
    }

    .container{
        position: absolute;
        width: 80%;
        height: 300px;
        top: 10%;
        left: 18%;
        right: 10%;
    }


    header .logoTogle{
        display: block;
        }

        #form{
          width: 80vw;
          height: 70vh;
          left:  11vw;
          right: 15vw;
          border-radius: 10px;
        }

        #form input{
          width: 70vw;
          height: 50px;
          left: 5vw;
          font-size: 30px;
          font-weight:  1px;
        }

        #form label{
          display: block;
          font-size: 40px;
          left: 6vw;
          
        }
        
        footer{
          display: none;
        }
        
        .logoTogle .gmail{
          top: 10px;
          left: 2%;
          width: 90px;
          height: 90px;
          margin-right: 2%;
        }
        
        .logoTogle .linkedin{
        
          top: 109px;
          left: 2%;
          width: 90px;
          height: 90px;
          margin-right: 2%;
        }
}