header{
    height: 25%; 
    width: 100%;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: #0d0d0d;
  overflow: hidden;
  border-radius: 2px;
  
}
header img{
  position: absolute;
  right: 0%;
  top: 6px;
  width: 8vw;
  height:7vh;
}

.logoTogle{
  display: none;
}


/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding-top: 2vh ;
  padding-bottom: 2vh;
  padding-left: 2vw;
  padding-right: 2vw;
  text-decoration: none;
  font-size: 25px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Change the color of links on hover */
.topnav a:hover {
  transition: 0.1s;
  border-bottom: white solid 3px;
  color: white;
  transition: 0.1s;
}

/* Add a color to the active/current link */
.topnav a.active {
  border-bottom: white solid 3px;
  color: white;
  font-weight: 900;
}


body {
  background-image: url(img/secu.jpg);
  background-color: rgba(15, 15, 16, 0.861);
  margin: 0;
  animation: open 0.7s; 
 }
 @keyframes open {
  0% {
  opacity:0;
  }
  20%{
  opacity:0.2;
  }
  30% {
  opacity:0.3;
  }
  40% {
    opacity:0.4;
    }
  50% {
      opacity:0.5;
      }
  60% {
        opacity:0.6;
      }
      70% {
        opacity:0.7;
        }
        80% {
          opacity:0.8;
          }
          90%{
            opacity: 0.9;
          }
          100% {
            opacity:1;
            }

 }


.sous-contenu {
    color: white;
    font-family: 'Zen Maru Gothic', sans-serif;
    font-size: 40px;
    position: relative;
    width: 18%;
    left: 79vw ;
    top: -70px;  
    text-align: left;
}


.sous-contenu p:nth-child(1){
  color: white;
  font-family: 'Zen Maru Gothic', sans-serif;
  text-justify: auto ;
  width: 100%;
  position: relative;
  left: -60px;
  top: -40px;
  text-align: justify;

}

.sous-contenu p:nth-child(2){
  color: white;
  font-family: 'Zen Maru Gothic', sans-serif;
  text-justify: auto ;
  width: 100%;

  top: -40px;
  left: -110px;
  text-align: center;

}

.container h3{
    font-family: 'Zen Maru Gothic', sans-serif;
    position: relative;
    font-weight: 600;
     font-size: 72px;
     width: 24%;
    left: 68vw;
    color: white;
    text-align: center;
}


.container{
    display: flex;
    flex-direction: column;
    transition: 1s;
    margin-top: 6%;
    border-radius: 4px;
    
}

label, #toggle
{
    display: none;
   
}

.container img{
  display: none;

}


.gmail{
    position: absolute;
    bottom:35px;
    left: 20px;
    width: 40px;
    height: 40px;
}

.linkedin{
    position: absolute;
    bottom:35px;
    left: 65px;
    width: 40px;
    height: 40px;
}

.container p{
    position: relative;
    height: 80%;
    bottom: 60%;
    right: 10%;
} 

/****************************************** MEDIA QUERIE *********************************************/
@media (max-width:1250px) {
  .container p{
    position: relative;
    height: 80%;
    bottom: 60%;
    right: 10%;
} 


.sous-contenu {
  color: white;
  font-family: 'Zen Maru Gothic', sans-serif;
  font-size: 40px;
  position: relative;
  width: 21%;
  left: 73vw ;
  top: -70px;  

}


.sous-contenu p:nth-child(1){
color: white;
font-family: 'Zen Maru Gothic', sans-serif;
text-justify: auto ;
width: 100%;
position: relative;
top: -40px;

}

.container h3{
  font-family: 'Zen Maru Gothic', sans-serif;
  position: relative;
  font-weight: 600;
   font-size: 72px;
   width: 37%;
  left: 60vw;
  color: white;
}
}

@media(max-width:900px){

    .container h3{
      position: relative;
      transition: 2s;
      width: 10%;
      height: 20%;
      right: 8%;
      font-size: 35px;
    }
  
    .sous-contenu{
      color: white;
      font-family: 'Zen Maru Gothic', sans-serif;
      text-justify: auto ;
      font-size: 30px;
      position: relative;
      width: 35%;
      bottom: 5%;
    }
}

label, #toggle
{
    display: none;
}

@media all and (max-width: 1024px){

  header{
    height: 40%;
    width: 100%;
  }
  body {
    background-image: none;
    margin: 0;
    animation: open 0.7s; 
}

.container img{
  display: block;
  width: 300px;
  height: 300px;
  position: relative;
  left: 37%;

}
.topnav a {
  float: left;
  color: black;
  text-align: center;
  padding-top: 2vh ;
  padding-bottom: 2vh;
  padding-left: 2vw;
  padding-right: 2vw;
  text-decoration: none;
  font-size: 56px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.topnav a.active {
  border-bottom: black solid 3px;
  color: black;
  font-weight: 900;
}

.topnav a:hover {
  border-bottom: black solid 3px;
  color: black;
  transition: 0.1s;
}
 

header .topnav{
  display: none;

}

header label 
{   
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  font-size: 105px;
  
  color: whitesmoke;
  cursor: pointer;
 

}

#toggle:checked + .topnav {
  background-color: rgb(212, 219, 225);
  position: relative;
  z-index: 11;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0px;
  
  
}

**************************
.container{
    position: absolute;
    width: 100%;
    height: 100px;
    top: 10%;
    left: 18%;
    right: 10%;
}

.sous-contenu {
  color: white;
  font-family: 'Zen Maru Gothic', sans-serif;
  font-size: 70px;
  position: relative;
  width: 50%;
  top: -3vh;
  left: 33vw ;
  text-align: center;   

}



.sous-contenu p:nth-child(1){
  color: white;
  font-family: 'Zen Maru Gothic', sans-serif;
  width: 100%;
  position: relative;
  bottom: 2%;
  left: 4vw;
  font-weight: 600;
}

.sous-contenu p:nth-child(2){
  color: white;
  font-family: 'Zen Maru Gothic', sans-serif;
  text-justify: auto ;
  width: 100%;
  position: relative;
  bottom: 2%;
  left: -6vw;
  font-weight: 600;
}

.container h3{
  font-family: 'Zen Maru Gothic', sans-serif;
  position: relative;
  font-weight: 800;
  font-size:  120px;
   width: 50%;
   top: 1vh;
   left: 20vw;

  color: white;
}

 header .logoTogle{
display: block
}


    
  header img[src="img/Logo OZVide.png"]{
display: none;
    }

footer{
  display: none;
}

.logoTogle .gmail{
  top: 10px;
  left: 2%;
  width: 90px;
  height: 90px;
  margin-right: 2%;
}

.logoTogle .linkedin{

  top: 109px;
  left: 2%;
  width: 90px;
  height: 90px;
  margin-right: 2%;
}
}

@media (max-width:750px){

  .container h3{
    font-family: 'Zen Maru Gothic', sans-serif;
    position: relative;
    font-weight: 600;
     font-size: 67px;
     width: 22%;
    
    left: 19vw;
    color: white;
  }

  header img[src="img/Logo OZVide.png"]{
    display: none;
        }
    

}

@media (max-width:400px){

  .container h3{
    font-family: 'Zen Maru Gothic', sans-serif;
    position: relative;
    font-weight: 600;
     font-size: 50px;
     width: 22%;
    left: 18vw;
    top: -5vh;
    right: 15vw;
    color: white;
    text-align: center;
  }

  .container img{

    width: 100px;
    height: 100px;
  }

  .sous-contenu{
    color: white;
    font-family: 'Zen Maru Gothic', sans-serif;
    text-justify: auto ;
    font-size: 20px;
    position: relative;
    width: 35%;
    top: -5px;
    left: 38vw;
    text-align: center;
  }

}

@media (max-width:380px){

  .container h3{
    font-family: 'Zen Maru Gothic', sans-serif;
    position: relative;
    font-weight: 600;
    font-size: 50px;
    width: 22%;
    left: 15vw;
    right: 15vw;
    color: white;
    top: -5px;
  }

  .sous-contenu{
    color: white;
    font-family: 'Zen Maru Gothic', sans-serif;
    text-justify: auto ;
    font-size: 40px;
    position: relative;
    width: 35%;
    bottom: 20%;
    left: 50vw;
  }

  .sous-contenu p:nth-child(2){
    color: white;
    font-family: 'Zen Maru Gothic', sans-serif;
    text-justify: auto ;
    width: 100%;
    left: -20vw;
    position: relative;
    bottom: 2%;
  
  }

}

