header{
    height: 25%;
    width: 100%;
  
}


/* Add a black background color to the top navigation */
.topnav {
    background-color: #0d0d0d;
    overflow: hidden;
    border-radius: 2px;
    
  }
  header img{
    position: absolute;
    right: 0%;
    top: 6px;
    width: 8vw;
    height:7vh;
  
}

.logoTogle{
    display: none;
}
  
  /* Style the links inside the navigation bar */
  .topnav a {
   
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding-top: 2vh ;
    padding-bottom: 2vh;
    padding-left: 2vw;
    padding-right: 2vw;
    text-decoration: none;
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    border-bottom: white solid 3px;
    color: white;
    transition: 0.1s;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    border-bottom: white solid 3px;
    color: white;
    font-weight: 900;
  }

  body {
    background-image: url(img/secu.jpg);
    background-color: rgba(15, 15, 16, 0.861);
    margin: 0;
    animation: open 0.7s; 
   }
   @keyframes open {
    0% {
    opacity:0;
    }
    20%{
    opacity:0.2;
    }
    30% {
    opacity:0.3;
    }
    40% {
      opacity:0.4;
      }
    50% {
        opacity:0.5;
        }
    60% {
          opacity:0.6;
        }
        70% {
          opacity:0.7;
          }
          80% {
            opacity:0.8;
            }
            90%{
              opacity: 0.9;
            }
            100% {
              opacity:1;
              }
  
   }

/******************************** LES IMAGES ****************************/

.container a img[src="img/yourbarber.png"]{
    top: 10vh;
    width: 20vw;
    height: 20vw;
    border-radius: 6px;
    position: absolute;   
    left: -10%;
    z-index: 10;
    filter: brightness(26%) ;
    
}
.container a img[src="img/yourbarber.png"]:hover{
    transition: 1s;
    
    filter: brightness(100%);
}


.container a img[src="img/lubuntu.png"]{
    top: 10vh;
    width: 20vw;
    height: 20vw;
    border-radius: 6px;
    position: absolute;
    left: 5%;
    z-index: 9;
    filter: brightness(26%) ;    
    object-fit: cover;
}
.container a img[src="img/lubuntu.png"]:hover{
    transition: 1s;
    filter: brightness(100%);
}

.container a img[src="img/siteYourBarber.png"]{
    top: 10vh;
    width: 20vw;
    height: 20vw;
    border-radius: 6px;
    position: absolute;
    left: 20%;
    z-index: 8;
    filter: brightness(26%) ;
    object-fit: cover;
    
}

.container a img[src="img/siteYourBarber.png"]:hover{
    transition: 1s;
    filter: brightness(100%);
}

.container a img[src="img/bd.jpg"]{
    top: 10vh;
    width: 20vw;
    height: 20vw;
    border-radius: 6px;
    position: absolute;
    left: 35%;
    z-index: 7;
    filter: brightness(26%) ;
    object-fit: cover;
  
}

.container a img[src="img/bd.jpg"]:hover{
    transition: 1s;
    filter: brightness(100%);
}
.container a img[src="img/CaptureFiniPong.PNG"]{
    top: 10vh;
    width: 20vw;
    height: 20vw;
    border-radius: 6px;
    position: absolute;
    left: 50%;
    z-index: 6;
    filter: brightness(26%) ;
    object-fit: cover;
  
}

.container a img[src="img/CaptureFiniPong.PNG"]:hover{
    transition: 1s;
    filter: brightness(100%);
    
}
.container a img[src="img/lowatem.png"]{
    top: 10vh;
    width: 20vw;
    height: 20vw;
    border-radius: 6px;
    position: absolute;
    left: 65%;
    z-index: 5;
    filter: brightness(26%) ;
    object-fit: cover;
}
.container a img[src="img/lowatem.png"]:hover{
    transition: 1s;
    filter: brightness(100%);
}


.container a img:hover{
width: 420px;
height: 420px;
opacity: 100%;
z-index: 10;
}


.container{
    display: flex;
    flex-direction: column;
    justify-content:baseline;
    align-content: center;
    transition: 1s;
    margin-top: 4%;
    position: absolute;
    width: 80%;
    height: 300px;
    top: 15%;
    left: 18%;
    right: 10%;
}


/********************************** FOOTER ************************/

.gmail{
    position: absolute;
    bottom:35px;
    left: 20px;
    width: 40px;
    height: 40px;
}

.linkedin{
    position: absolute;
    bottom:35px;
    left: 65px;
    width: 40px;
    height: 40px;
}
    label, #toggle
    {
        display: none;
       
    }

@media all and (max-width: 1024px){
    body {
        background-image: none;
        margin: 0;
        animation: open 0.7s; 
    }

    header img[src="img/Logo OZVide.png"]{
        display: none;
            }

    .topnav a {
        float: left;
        color: black;
        text-align: center;
        padding-top: 2vh ;
        padding-bottom: 2vh;
        padding-left: 2vw;
        padding-right: 2vw;
        text-decoration: none;
        font-size: 56px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      }

      .topnav a.active {
        border-bottom: black solid 3px;
        color: black;
        font-weight: 900;
      }
      
      .topnav a:hover {
        border-bottom: black solid 3px;
        color: black;
        transition: 0.1s;
      }
       
      header label 
{   
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  font-size: 115px;
  color: whitesmoke;
  cursor: pointer;
}

    header{
        height: 40%;
        width: 100%;
    }



    header img{
        position: absolute;
        right: 0%;
        top: 7px;
        width: 19vw;
        height: 11vh;
      }

    header .topnav{
        display: none;

    }

    #toggle:checked + .topnav {
        background-color: rgb(212, 219, 225);
        position: relative;
        z-index: 11;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 0px;
        
    }

/***************************** element ****************************/

.container a img[src="img/yourbarber.png"]{
    top: 0vh;
    width: 50vw;
    height: 50vw;
    border-radius: 6px;
    position: absolute;   
    left: 10%;
    z-index: 10;
    filter: brightness(70%) ;
    
}
.container a img[src="img/yourbarber.png"]:hover{
    transition: 1.5s;
    
    filter: brightness(100%);
}


.container a img[src="img/lubuntu.png"]{
    top: 600px;
    width: 50vw;
    height: 50vw;
    border-radius: 6px;
    position: absolute;   
    left: 10%;
    z-index: 10;
    filter: brightness(70%) ; 
    object-fit: cover;
}
.container a img[src="img/lubuntu.png"]:hover{
    transition: 1.5s;
    filter: brightness(100%);
}

.container a img[src="img/siteYourBarber.png"]{
    top: 1200px;
    width: 50vw;
    height: 50vw;
    border-radius: 6px;
    position: absolute;   
    left: 10%;
    z-index: 10;
    filter: brightness(70%) ; 
    object-fit: cover;
    
}

.container a img[src="img/siteYourBarber.png"]:hover{
    transition: 1.5s;
    filter: brightness(100%);
}

.container a img[src="img/bd.jpg"]{
    top: 1800px;
    width: 50vw;
    height: 50vw;
    border-radius: 6px;
    position: absolute;   
    left: 10%;
    z-index: 10;
    filter: brightness(70%) ; 
    object-fit: cover;
  
}

.container a img[src="img/bd.jpg"]:hover{
    transition: 1.5s;
    filter: brightness(100%);
}
.container a img[src="img/CaptureFiniPong.PNG"]{
    top: 2400px;
    width: 50vw;
    height: 50vw;
    border-radius: 6px;
    position: absolute;   
    left: 10%;
    z-index: 10;
    filter: brightness(70%) ; 
    object-fit: cover;
  
}

.container a img[src="img/CaptureFiniPong.PNG"]:hover{
    transition: 1.5s;
    filter: brightness(100%);
    
}
.container a img[src="img/lowatem.png"]{
    top: 3000px;
    width: 50vw;
    height: 50vw;
    border-radius: 6px;
    position: absolute;   
    left: 10%;
    z-index: 10;
    filter: brightness(70%) ; 
    object-fit: cover;
    padding-bottom: 60px;
    margin-top: 40px;
}
.container a img[src="img/lowatem.png"]:hover{
    transition: 1.5s;
    filter: brightness(100%);
}

header .logoTogle{
    display: block
    
      
    }
    
    footer{
      display: none;
    }
    
    .logoTogle .gmail{
        top: 10px;
        left: 2%;
        width: 90px;
        height: 90px;
        margin-right: 2%;
      }
      
      .logoTogle .linkedin{
      
        top: 109px;
        left: 2%;
        width: 90px;
        height: 90px;
        margin-right: 2%;
      }

}

@media screen and (max-width: 600px) {
    
    header img{
 display: none;
      }


}


    


    





   
    


